In [1]:
import warnings
warnings.filterwarnings(action='ignore') 
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import re

In [2]:
pd.set_option('display.max_row', 500)
pd.set_option('display.max_columns', 100)

In [3]:
a15=pd.read_csv('./dataset/aptPriceDataSet/avg15.09.csv',encoding='utf-8',header=3)
a18=pd.read_csv('./dataset/aptPriceDataSet/avg18.07.csv')

In [4]:
a15.fillna(0,inplace=True)
# a15

# 분양가격 *3.3

In [5]:
a18['분양가격(㎡)']=a18['분양가격(㎡)'].str.replace(',','')
a18['분양가격']=pd.to_numeric(a18['분양가격(㎡)'],errors='coerce')*3.3
a18=a18.fillna(0)
# a18

In [47]:
a18.groupby('지역명')['규모구분']

In [44]:
a18

     지역명               규모구분    연도   월 분양가격(㎡)     분양가격
0     서울                 전체  2015  10    5841  19275.3
1     서울         전용면적 60㎡이하  2015  10    5652  18651.6
2     서울   전용면적 60㎡초과 85㎡이하  2015  10    5882  19410.6
3     서울  전용면적 85㎡초과 102㎡이하  2015  10    5721  18879.3
4     서울        전용면적 102㎡초과  2015  10    5879  19400.7
...   ..                ...   ...  ..     ...      ...
2885  제주                 전체  2018   7    3334  11002.2
2886  제주         전용면적 60㎡이하  2018   7       0      0.0
2887  제주   전용면적 60㎡초과 85㎡이하  2018   7    3356  11074.8
2888  제주  전용면적 85㎡초과 102㎡이하  2018   7    3226  10645.8
2889  제주        전용면적 102㎡초과  2018   7    2990   9867.0

[2890 rows x 6 columns]

### 대전, 전북, 충남, 제주, 인천, 세종, 대구, 울산, 강원, 광주, 경북 결측치 존재

In [ ]:
a15

In [ ]:
a15[(a15['시군구']=='대전')]

In [ ]:
a18

In [ ]:
a18[(a18['지역명']=='대전')&(a18['연도']==2015)&(a18['규모구분']=='전용면적 102㎡초과')]

In [ ]:
a18[(a18['지역명']=='대전')&(a18['연도']==2016)]

In [ ]:
a18[(a18['지역명']=='대전')&(a18['연도']==2017)]

In [ ]:
a18[(a18['지역명']=='대전')&(a18['연도']==2016)]

In [ ]:
a15[(a15['시군구']=='대전')]

In [ ]:
7,917 / 68 / 8,038

In [ ]:
b=a18[(a18['지역명']=='대전')&(a18['규모구분']=='전용면적 102㎡초과')].iloc[0,5]

In [ ]:
b

In [25]:
aa=(a18[(a18['지역명']=='대전')&(a18['규모구분']=='전용면적 102㎡초과')].iloc[12:24,5])/4.14

In [34]:
aa.iloc[11]

3449.8550724637685

In [ ]:
a18[(a18['지역명']=='대전')&(a18['규모구분']=='전용면적 102㎡초과')].iloc[0:12,5]

In [ ]:
for i in range(len(a18[(a18['지역명']=='대전')&(a18['규모구분']=='전용면적 102㎡초과')].iloc[0:12,5])):
    a18.iloc[i,5]=2
    print(a18[(a18['지역명']=='대전')&(a18['규모구분']=='전용면적 102㎡초과')].iloc[i,5])

In [ ]:
a18[(a18['지역명']=='대전')&(a18['규모구분']=='전용면적 102㎡초과')].iloc[12:24,5]

In [ ]:
a18[(a18['지역명']=='대전')&(a18['규모구분']=='전용면적 102㎡초과')].iloc[24:,5]

In [ ]:
for i in range(13):  
    if i %5 ==0:
        a18[(a18['지역명']=='대전')&(a18['규모구분']=='전용면적 102㎡초과')].iloc[i,5]=a18[(a18['지역명']=='대전')&(a18['규모구분']=='전용면적 102㎡초과')].iloc[12+i,5]/4.14

In [6]:
a18[(a18['지역명']=='대전')&(a18['규모구분']=='전용면적 102㎡초과')].iloc[0:12,5].values
a18[(a18['지역명']=='대전')&(a18['규모구분']=='전용면적 102㎡초과')].iloc[0:12,5].index

Int64Index([34, 119, 204, 289, 374, 459, 544, 629, 714, 799, 884, 969], dtype='int64')

In [39]:
for i in a18[(a18['지역명']=='대전')&(a18['규모구분']=='전용면적 102㎡초과')].iloc[0:12,5].index:
    a18.loc[i]

In [ ]:
a18.iloc[34]